<header class="container">
    <div class="user-info">
        <div class="user-name">
            First Name:
            <span class="name">John</span>
        </div>
        <div class="user-name">
            Last Name:
            <span class="name">Smith</span>
        </div>
        <span class="user-profile-link">Profile Link</span>
        <button class="btn">Logout</button>
    </div>
    <div class="update-info">
        <div class="message-success" id="message-success">
            Profile updated successfully
        </div>
        <!-- <div class="message-error" id="message-error">
            <span class="error-text">
                Name is too short (required minimum 5 symbols), please enter
                another name</span
            >
            <span class="close-error">close X</span>
        </div> -->
    </div>
</header>
