<div class="container">
    <nav class="navbar">
        <ul class="nav-list">
            <li>
                <a class="nav-item" href="#home" routerLink="/"
                    >Home <span class="sr-only"></span
                ></a>
            </li>
            <li>
                <a class="nav-item" href="#inventory" routerLink="/inventory"
                    >Inventory</a
                >
            </li>
            <li>
                <a class="nav-item" href="#reports" routerLink="/reports"
                    >Reports</a
                >
            </li>
            <li>
                <a class="nav-item" href="#billing" routerLink="/billing"
                    >Billing</a
                >
            </li>
            <li>
                <a class="nav-item" href="#profile" routerLink="/profile"
                    >Profile</a
                >
            </li>
        </ul>
    </nav>
</div>
