<div class="container">
    <nav class="navbar">
        <ul class="nav-list">
            <li>
                <a class="nav-item" routerLink="/home"
                    >Home <span class="sr-only"></span
                ></a>
            </li>
            <li>
                <a class="nav-item" routerLink="/inventory">Inventory</a>
            </li>
            <li>
                <a class="nav-item" routerLink="/reports">Reports</a>
            </li>
            <li>
                <a class="nav-item" routerLink="/billing">Billing</a>
            </li>
            <li>
                <a class="nav-item" routerLink="/profile">Profile</a>
            </li>
        </ul>
    </nav>
</div>
